@font-face {
    font-family: 'aller';
    src: url("../fonts/Aller-Italic.woff2") format("woff2"), url("../fonts/Aller-Italic.woff") format("woff"), url("../fonts/Aller-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'aller';
    src: url("../fonts/Aller.woff2") format("woff2"), url("../fonts/Aller.woff") format("woff"), url("../fonts/Aller.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}