// main button

@keyframes fade-in-bottom {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

body, .woocommerce {
    input[type='submit'],
    .button, button.button, a.button {
        @include rounded(0px);

        display: inline-block;
        text-transform: none;
        letter-spacing: normal;
        text-align: center;
        font-size: 1.7rem;
        font-family: $main-font;
        font-weight: 700;
        color: $main-color;
        padding: 0 22px;
        height: 46px;
        line-height: 42px;
        text-align: center;
        position: relative;
        margin-bottom: 0px;
        border: 2px solid $main-color;
        box-shadow: none;
        min-width: 120px;
        background: none;
        overflow: hidden;
        z-index: 2;
        margin-bottom: 0px;

        &:focus {
            border: 0;
            outline: 0;
        }

        @include transition(all, 0.4s);

        @include mobile {
            width: 100%;
            height: 42px;
            line-height: 38px;
            font-size: 1.6rem;
            min-width: 150px;
        }


        @include small-mobile {
            padding: 0 10px;
        }


        i {
            display: inline-block;
            position: relative;
            top: 3px;
            margin-right: 6px;
            font-size: 1.4rem;

            @include mobile {
                top: 5px;
            }
        }

        img {
            float: left;
            margin-top: 11px;
        }

        span {
            position: relative;
            z-index: 2;
            display: block;
            transform: translateY(0%);
            transition: all 0.5s;
            color: $main-color;

            &.second {
                color: black;
                opacity: 0;
            }
        }

        &:hover {
            color: #fff;
            background: $main-color;

            span {
                transform: translateY(-100%);
                color: #fff;

                &.second {
                    transform: translateY(-100%);
                    opacity: 1;
                }
            }
        }

        &.medium {
            height: 48px;
            line-height: 46px;
            min-width: 0;
            padding: 0 20px;
            font-size: 1.8rem;
            font-weight: 400;
        }

        &.big {}

        &.facebook {
            background: #0084ff;
        }

        &.white {
            border: 2px solid #fff;
            color: #fff;

            &:hover {
                background: #fff;
                color: $main-color;
            }
        }

        &.grey {
            background: $grey_bg;
            border: 2px solid $border-color;
            color: #b4b1c3;
            box-shadow: none;
            line-height: 63px;

            @include mobile {
                line-height: 48px;
            }
        }

        &.dark {
            border: 2px solid $headings-color;
            color: $headings-color;

            &:hover {
                background: $headings-color;
                color: #fff;
            }
        }

        &.small {
            height: 24px;
            font-size: 1.6rem;
            line-height: 26px;
            min-width: 0px;
            padding: 0 10px;
            font-weight: 500;
            font-family: $headings-font;
            background: none;

            @include rounded(3px);

            color: $main-color;
            border: 1px solid $main-color;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            @include mobile {
                width: auto;
            }


            &:hover {
                background: $main-color;
                color: #fff;
            }

            &.dark {
                border: 1px solid $headings-color;
                color: $headings-color;

                &:hover {
                    background: $headings-color;
                    color: #fff;
                }
            }
        }

        &.facebook-btn {
            background: #3b5998;
        }

        &.load-more-btn.loading {
            opacity: 0.6;
            padding-right: 45px;

            &:after {
                font-family: WooCommerce;
                content: '\e01c';
                vertical-align: top;
                font-weight: 400;
                position: absolute;
                top: 0;
                right: 15px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }
        }
    }

    .round-button {
        @include rounded(30px);

        display: inline-block;
        text-transform: uppercase;
        letter-spacing: normal;
        text-align: center;
        font-size: 1.8rem;
        font-family: $main-font;
        font-weight: 400;
        color: #fff;
        padding: 0 15px;
        height: 60px;
        line-height: 56px;
        text-align: center;
        position: relative;
        margin-bottom: 0px;
        border: 2px solid #fff;
        box-shadow: none;
        background: rgba(0, 0, 0, 0.43);
        overflow: hidden;
        z-index: 2;
        min-width: 250px;
        letter-spacing: 0.3em;

        @include transition(all, 0.4s);

        @include mobile {
            height: 38px;
            line-height: 36px;
            min-width: 190px;
            font-size: 1.6rem;
            letter-spacing: 0.2em;
        }


        &:hover {
            background: rgba(0, 0, 0, 1);
            color: #fff;
        }
    }
}