input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
textarea,
select, .selectize-input {
    @include bxz(border-box);
    @include rounded(3px);

    font-family: $main-font;
    font-size: 1.6rem;

    // 16
    border-style: none;
    font-weight: 400;
    border: 0;
    border: 1px solid $border-color;
    width: 100%;
    height: 46px;
    padding: 0 20px;
    line-height: 46px;
    background: #fff;
    color: $main-text-color;
    outline: 0;
    -webkit-appearance: none;
    letter-spacing: normal;
    box-shadow: none;

    @include mobile {
        height: 42px;
        line-light: 42px;
    }


    &:active,
    &:hover,
    &:focus {
        @include transition(all, 0.2s);
    }
}

textarea {
    line-height: normal;
    height: auto;
    min-height: 130px;
    padding: 10px 20px;

    @include mobile {
        min-height: 50px;
    }
}

select {
    padding-right: 0;
}

label {
    display: inline-block;
    color: $headings-color;
    text-transform: none;
    font-weight: 600;
    letter-spacing: normal;
    font-size: 1.6rem;
    font-family: $main-font;

    span {
        color: $main-color;
    }

    @include mobile {
        font-size: 1.4rem;
    }
}

::-webkit-input-placeholder {
    color: #abaab3;
    font-size: 1.7rem;
    letter-spacing: normal;
    font-weight: 400;
    font-family: $main-font;
    font-style: normal;

    @include mobile {
        font-size: 1.6rem;
    }
}

:-moz-placeholder {
    color: #abaab3;
    font-size: 1.7rem;
    letter-spacing: normal;
    font-weight: 400;
    font-family: $main-font;
    font-style: normal;

    @include mobile {
        font-size: 1.6rem;
    }
}

::-moz-placeholder {
    color: #abaab3;
    font-size: 1.7rem;
    letter-spacing: normal;
    font-weight: 400;
    font-family: $main-font;
    font-style: normal;

    @include mobile {
        font-size: 1.6rem;
    }
}

:-ms-input-placeholder {
    color: #abaab3;
    font-size: 1.7rem;
    letter-spacing: normal;
    font-weight: 400;
    font-family: $main-font;
    font-style: normal;

    @include mobile {
        font-size: 1.6rem;
    }
}

.input-block, p.form-row {
    margin-bottom: 30px;
    position: relative;
    line-height: normal;

    .required {
        color: red;
        font-weight: 700;
        border: 0;
    }

    .required {
        font-weight: 400;
        text-decoration: none;
    }

    @include clear;
    @include mobile {
        margin-bottom: 10px;
    }


    & > span {
        //position: absolute;
        top: 7px;
        right: 0;
        z-index: 10;
        color: $main-text-color;

        &.wpcf7-form-control-wrap {
            position: relative;
            top: 0;
            right: 0;
            z-index: 10;
            display: block;
        }
    }

    & > label {
        display: block;
        color: $headings-color;
        margin-bottom: 5px;
        display: block;
    }

    @include mobile {
        margin-bottom: 20px;
    }


    &.has-datepicker {
        &:before {
            content: "\f073";
            font-family: FontAwesome;
            font-size: 1.4rem;
            position: absolute;
            top: 13px;
            margin-top: -7px;
            right: 0;
            opacity: .7;
            z-index: 10;
            color: $main-text-color;
        }
    }
}

.radio-block, .wc_payment_method {
    p {
        margin: 0;
        line-height: 22px;
        margin-top: 5px;
    }

    label {
        margin: 0;
        height: 30px;
        color: $headings-color;
        background: none;
        line-height: 30px;
        padding: 0 10px;
        font-size: 1.5rem;
        display: inline-block;
        width: calc(100% - 20px);
        position: relative;
        letter-spacing: normal;
        cursor: pointer;
        padding-left: 25px;

        /* img {
            max-width: 32px;
            margin-right: 10px;
            float: left;
            display: line-block;

            @include small-mobile {
                max-width: 20px;
                margin-right: 5px;
            }
        }
 */
        span {
            font-size: 1.4rem;
            color: $main-text-color;
            margin-top: 5px;
            display: inline-block;
            float: left;
        }
    }

    input[type="radio"] {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    label:before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        position: absolute;
        left: 4px;
        top: 12px;

        @include rounded(4px);

        vertical-align: -3px;
        background-color: #fff;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 2;
    }

    label:after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0px;
        top: 8px;

        @include rounded(8px);

        vertical-align: -3px;
        border: 1px solid $main-text-color;
        background-color: #fff;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 1;
    }

    input:hover + label:before {}

    input:checked + label:before {
        background-color: $main-color;
    }
}

.selectric-wrapper {
    background: none;

    .selectric {
        span.label {
            height: 46px;
            line-height: 44px;
            padding: 0 15px;
            padding-right: 15px;
            font-weight: 400;
            font-size: 1.6rem;
            text-transform: none;
            color: $headings-color;
            font-family: $main-font;
            border: 1px solid $border-color;

            @include rounded(4px);
            @include mobile {
                height: 42px;
                line-height: 40px;
            }
        }

        .select-button {
            position: absolute;
            width: 10px;
            height: 6px;
            top: 14px;
            right: 12px;
            z-index: 10;
            font-family: Font Awesome\ 5 Free;
            font-size: 1.8rem;
            color: $headings-color;
            font-weight: 900;
            line-height: normal;

            &:before {
                content: "\f107";
            }
        }
    }

    .selectric-items {
        background: $background_bg;

        ul {
            li {
                padding: 7px 20px;
                color: $main-text-color;
                font-size: 1.3rem;
                margin: 0;
                font-weight: 400;
                border: 0;
                border-top: 1px solid $grey_bg;

                &:before {
                    display: none;
                }

                &.highlighted, &:hover {
                    background: $main-text-color;
                    color: #fff;
                }
            }
        }
    }

    &.white-select {
        border: 0;
    }
}

.styled-checkbox {
    position: absolute;

    // take it out of document flow
    opacity: 0;

    // hide it

    & + label {
        width: auto;
        padding: 0;
        text-align: initial;
        text-transform: none;
        display: initial;
        float: none;
        line-height: normal;
        position: relative;
        cursor: pointer;
        padding: 0;
        padding-left: 30px;
    }

    // Box.
    & + label:before {
        content: '';
        margin-right: 16px;
        display: inline-block;
        vertical-align: text-top;
        width: 14px;
        height: 14px;
        border: 1px solid $border-color2;

        @include rounded(3px);

        position: absolute;
        left: 0px;
        top: 6px;

        @include small-mobile {
            top: 4px;
        }
    }

    // Box hover
    &:hover + label:before {}

    // Box focus
    &:focus + label:before {}

    // Box checked
    &:checked + label:before {
        color: $main-color;
    }

    // Disabled state label.
    &:disabled + label {
        color: #ccc;
        cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
        content: '';
        position: absolute;
        left: 2px;
        top: 12px;
        background: $main-color;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 $main-color, 4px 0 0 $main-color, 4px -2px 0 $main-color, 4px -4px 0 $main-color, 4px -6px 0 $main-color, 4px -8px 0 $main-color;
        transform: rotate(45deg);

        @include small-mobile {
            top: 10px;
        }
    }
}

.styled-checkbox-wrapper {
    position: relative;

    label {
        font-size: 1.4rem;
        color: $headings-color;
        font-weight: 400;
        font-family: $main-font;
    }
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.custom-file-upload {
    display: block;
    width: auto;

    //border: 1px solid #ccc;

    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;

    //border: 1px solid #ccc;
}

.file-upload-input {
    width: 100%;
    color: $main-text-color;
    font-size: 1.7rem;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: none;
    background: none;

    @include mobile {
        font-size: 1.5rem;
    }


    &:hover, &:focus {}
}

.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #9da2a9;
    font-size: 1.7rem;
    text-transform: none;
    padding: 0;
    padding-right: 15px;
    height: auto;
    line-height: normal;
    font-style: italic;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 10;
    border: none;
    background: none;
    box-shadow: none;
    letter-spacing: normal;
    min-width: 0;

    @include mobile {
        width: auto;
    }


    &:before {
        content: "";
        width: 10px;
        height: 12px;
        position: absolute;
        right: 0;
        top: 5px;
        background-image: url(images/default/upload-icon.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        z-index: 10;
    }

    &:hover {
        background: none;
        color: $main-text-color;
    }
}

.lwa-divs-only input[type="text"] {
    margin: 0;
}

span.wpcf7-not-valid-tip, div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-response-output {
    font-size: 14px;
}