.container {
    width: 88%;
    margin: 0 auto;
    position: relative;
    max-width: 1440px;

    @include clear;

    &.not-relative {
        position: static;
    }
}

.centered-content {
    text-align: center;
}

.row {
    margin-right: -13px;
    margin-left: -13px;
    font-size: 0;
    line-height: normal;

    &:after, &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    clear: both;
    zoom: 1;

    @include tablet {
        margin-right: -10px;
        margin-left: -10px;
    }


    @include clear;

    > [class*='col_'] {
        padding-left: 13px;
        padding-right: 13px;
        display: inline-block;
        float: left;

        @include tablet {
            padding-left: 10px;
            padding-right: 10px;
        }


        &.right {
            float: right;
        }
    }

    &.big-gutter {
        margin-left: -26px;
        margin-right: -26px;

        @include tablet {
            margin-left: -20px;
            margin-right: -20px;
        }


        > [class*='col_'] {
            padding-left: 26px;
            padding-right: 26px;

            @include tablet {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    &.small-gutter {
        margin-left: -10px;
        margin-right: -10px;

        > [class*='col_'] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &.no-gutter {
        margin-left: 0;
        margin-right: 0;

        > [class*='col_'] {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}

.col_16 {
    width: 16.66%;
}

.col_10 {
    width: 10%;
}

.col_15 {
    width: 15%;
}

.col_14 {
    width: 14.28%;
}

.col_33 {
    width: 33.33%;
}

.col_20 {
    width: 20%;
}

.col_auto {
    width: auto;
}

.col_25 {
    width: 25%;
}

.col_12 {
    width: 12.5%;
}

.col_50 {
    width: 50%;
}

.col_100 {
    width: 100%;
}

.col_30 {
    width: 30%;
}

.col_35 {
    width: 35%;
}

.col_70 {
    width: 70%;
}

.col_40 {
    width: 40%;
}

.col_45 {
    width: 45%;
}

.col_55 {
    width: 55%;
}

.col_60 {
    width: 60%;
}

.col_65 {
    width: 65%;
}

.col_66 {
    width: 66.66%;
}

.col_75 {
    width: 75%;
}

.col_80 {
    width: 80%;
}