// responsive mixins

@mixin big-desktop{
  @media (max-width: #{$big-desktop-width} ) {
    @content;
  }
}

@mixin small-desktop{
  @media (max-width: #{$small-desktop-width} ) {
    @content;
  }
}

@mixin tablet{
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop-only{
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile{
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin small-mobile{
  @media (max-width: #{$small-mobile-width}) {
    @content;
  }
}

// other mixins

@mixin bxz($value){
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin shadow {  
  box-shadow: 0px 0px 99px 1px rgba(0, 0, 0, 0.2);
}

@mixin clear{
  &:before,
  &:after{
    content: "";
    visibility: hidden;
    height: 0;
    display: table;
  }
  &:after{
    clear: both;
  }
}

@mixin list_h($value){
  @include clear;
  li{
    float: left;
    margin-left: ($value);
    &:first-child{
      margin: 0;
    }
  }
}

@mixin list_v($value){
  li{
    float: none;
    margin-left: 0;
    margin-top: ($value);
    &:first-child{
      margin: 0;
    }
  }
}

@mixin opacity($opacity){
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
}

@mixin rounded($value){
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}

@mixin transition($type, $value){
  transition: $type $value ease;
  -moz-transition: $type $value ease;
  -webkit-transition: $type $value ease;
  -o-transition: $type $value ease;
}

@mixin transform-origin($valuex, $valuey){
    -ms-transform-origin: $valuex $valuey; /* IE 9 */
    -webkit-transform-origin: $valuex $valuey; /* Chrome, Safari, Opera */
    transform-origin: $valuex $valuey;
}

@mixin rotate($value){
    -ms-transform: rotate($value+deg); /* IE 9 */
    -webkit-transform: rotate($value+deg); /* Chrome, Safari, Opera */
    transform: rotate($value+deg);
}



@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@mixin greyscale {
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin button-gradient {
  background-image: -moz-linear-gradient( 0deg, rgb(71,149,255) 0%, rgb(59,205,213) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(71,149,255) 0%, rgb(59,205,213) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(71,149,255) 0%, rgb(59,205,213) 100%);
}
