*, 
*:before,
*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*{
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: normal;
  margin: 0;
}

a{
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary{
  display: block;
}

audio,
canvas,
video{
  display: inline-block;
}

audio:not([controls]){
  display: none;
  height: 0;
}

[hidden]{
  display: none;
}

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: auto;
}

input[type="radio"],
input[type="checkbox"]{
  margin: 4px 0 0;
  line-height: normal;
}

html,
button,
input,
select,
textarea{
  font-family: sans-serif;
}

li{
  list-style-type: none;
}

body{
  margin: 0;
}

iframe{
  border-style: none;
  border: none;
  width: inherit;
  display: block;
  position: relative;
}

a:focus{
  outline: none;
}

a:active,
a:hover{
  outline: 0;
}

abbr[title]{
  border-bottom: 1px dotted;
}

b,
strong{
  font-weight: normal;
  -webkit-appearance: none;
}

blockquote{
	margin: 0;
}

dfn{
	font-style: italic;
}

hr{
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark{
  background: #ff0;
  color: #000;
}

p,
pre{
  margin: 1em 0;
}

code,
kbd,
pre,
samp{
  font-family: monospace, serif;
}

pre{
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q{
  quotes: none;
}

q:before,
q:after{
  content: "";
  content: none;
}

small{
  font-size: 80%;
}

sub,
sup{
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup{
  top: -0.5em;
}

sub{
  bottom: -0.25em;
}

dl,
menu,
ol,
ul{
  margin: 0;
}

dd{
  margin: 0;
}

menu,
ol,
ul{
  padding: 0;
}

nav ul,
nav ol{
  list-style: none;
  list-style-image: none;
}

img{
  border: 0; 
  -ms-interpolation-mode: bicubic; 
}

svg:not(:root){
  overflow: hidden;
}

figure{
  margin: 0;
}

form{
  margin: 0;
}

fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

legend{
  border: 0; 
  padding: 0;
  white-space: normal; 
}

button,
input,
select,
textarea{
  margin: 0; 
  vertical-align: baseline; 
}

button,
input{
  line-height: normal;
}

button,
select{
  text-transform: none;
}

button,
html input[type="button"], 
input[type="reset"],
input[type="submit"]{
  border-style: none;
  -webkit-appearance: button; 
  cursor: pointer;
}

button[disabled],
html input[disabled]{
  cursor: default;
}

input[type="checkbox"],
input[type="radio"]{
  padding: 0; 
}

input[type="search"]{
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner{
  border: 0;
  padding: 0;
}

textarea{
  overflow: auto; 
  vertical-align: top; 
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

audio,
canvas,
img,
video{
  vertical-align: middle;
}

fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}

textarea{
  resize: vertical;
}