table {
    width: 100%;
}

table, th, td {
    border-spacing: 0;
    border: 1px solid $border-color;
    padding: 1em;
    line-height: 1;
    vertical-align: middle;
}

th {
    text-align: left;
    font-weight: normal;
}