html {
    font-family: $main-font, #{$sans};
    font-size: 10px;
    line-height: normal;
    font-weight: 400;
}

body {
    font-size: 1.8rem;
    line-height: 28px;
    font-family: $main-font, #{$sans};
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $headings-color;
    line-height: normal;
    font-family: $headings-font;
    text-transform: none;
    margin-bottom: 30px;
    letter-spacing: normal;

    @include tablet {
        letter-spacing: normal;
    }


    a {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    b {
        font-weight: 700;
        color: $main-color;
    }
}

h1 {
    font-size: 4rem;
    margin-bottom: 40px;

    b {
        color: $main-color;

        @include mobile {
            display: block;
        }
    }

    @include mobile {
        font-size: 2.8rem;
        text-align: center;
    }
}

h2 {
    font-size: 3.6rem;
    margin-bottom: 30px;

    @include mobile {
        font-size: 2.6rem;
    }
}

h3 {
    font-size: 3.6rem;
    margin-bottom: 40px;

    @include mobile {
        margin-bottom: 20px;
        font-size: 2.4rem;
    }
}

h4 {
    font-size: 2.4rem;

    @include mobile {}
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.6rem;
}

p,
a,
span,
label {
    margin: 0;

    p,
    a,
    span {
        font-size: 100%;
        margin: 0;
    }

    font-family: $main-font;
}

p {
    margin: 0 0 40px;
    font-size: 1.6rem;
    line-height: 26px;
    font-weight: 400;
    color: $main-text-color;
    letter-spacing: normal;
    font-family: $main-font;

    @include mobile {
        margin-bottom: 20px;
        font-size: 1.3rem;
        line-height: 20px;
    }


    a {
        text-decoration: none;
        color: $main-color;

        &:hover {
            color: darken($main-color, 10%);
        }
    }

    i {
        font-style: italic;
    }

    b {
        font-weight: 700;
    }

    u {
        border-bottom: 2px solid $main-color;
        text-decoration: none;
    }
}

a {
    margin: 0;

    @include transition(all, 0.2s);

    color: $main-text-color;
    text-decoration: none;

    &:hover {
        color: $main-color;
    }
}

strong {
    font-weight: 700;
}

b {
    font-weight: 700;
}

ul {
    li {
        font-size: 1.4rem;
    }
}

ol {
    li {
        font-size: 1.4rem;
    }
}