// container width
html, body {
    background-color: $background_bg;

    /* background-image: url(images/pattern_bg.jpg); */
    background-repeat: repeat;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
}

::selection {
    background: $main-color;
    color: #fff;

    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: $main-color;
    color: #fff;

    /* Gecko Browsers */
}

.desktop-only {
    display: block !important;

    @include tablet {
        display: none !important;
    }

    @include mobile {
        display: none !important;
    }
}

.tablet-only {
    display: none !important;

    @include tablet {
        display: inline-block !important;
    }

    @include mobile {
        display: none !important;
    }
}

.mobile-only {
    display: none !important;

    @include mobile {
        display: block !important;
    }
}

.hidden-on-desktop {
    display: none !important;

    @include tablet {
        display: block !important;
    }
}

.hidden-on-small-desktop {
    @include small-desktop {
        display: none !important;
    }

    @include tablet {
        display: block !important;
    }

    @include mobile {
        display: block !important;
    }
}

.hidden-on-tablet {
    @include tablet {
        display: none !important;
    }

    @include mobile {
        display: block !important;
    }
}

.hidden-on-mobile {
    @include mobile {
        display: none !important;
    }
}

.container {
    /* @include big-desktop {
        width: 1280px;
    }*/

    /* @include small-desktop {
        width: 980px;
    }


    @include tablet {
        width: 750px;
    }
    */
    @include mobile {
        width: 92%;
    }
}

.no-mb {
    margin-bottom: 0 !important;
}

// floats

.right {
    float: right;
}

.left {
    float: left;
}

.no-scroll {
    overflow: hidden !important;
}

// visibility

.floating-objects {
    &:after, &:before {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    clear: both;
    zoom: 1;
}

.show {
    display: block !important;
}

.alignright {
    float: right;
    margin-left: 40px;
    margin-bottom: 40px;
}

.alignleft {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mm-menu {
    background: #fbfbfb;
}

a.open-sidemenu {
    width: 22px;
    height: 18px;
    position: relative;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 3px;
    display: none;
    margin-top: 24px;

    @include mobile {
        display: inline-block;
    }

    span {
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 100%;
        background: #fff;

        @include transition(all, 0.3s);

        &:first-child {
            left: 0;
            top: 0;

            @include transform-origin(100%, 100%);
        }

        &:nth-child(2) {
            right: 0;
            top: 50%;
            margin-top: -1px;
            width: 70%;
        }

        &:last-child {
            left: 0;
            bottom: 0;

            @include transform-origin(100%, 100%);
        }
    }

    &:hover {
        span {
            &:nth-child(2) {
                width: 100%;
            }
        }
    }

    &.active {
        span {
            &:first-child {
                @include rotate(-45);

                left: 0px;
                top: -1px;
            }

            &:nth-child(2) {
                width: 0%;
            }

            &:last-child {
                @include rotate(45);

                left: -1px;
                bottom: 1px;
            }
        }
    }
}

.big-menu-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 9998;
    background: rgba($headings-color, 0.95);
    top: 85px;
    left: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;

    @include transition(all, 0.4s);

    &.visible {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    ul {
        display: block;
        max-width: 250px;
        margin: 0 auto;

        & > li {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            position: relative;

            & > a {
                font-family: $headings-font;
                text-transform: uppercase;
                font-weight: 500;
                color: #fff;
                font-size: 1.6rem;
                letter-spacing: 0.05em;
                padding: 2px 10px;

                @include rounded(3px);

                background: none;
                display: inline-block;
                line-height: normal;

                img {
                    width: 20px;
                    margin-right: 5px;
                }
            }

            &.menu-item-has-children {
                span.arrow {
                    position: absolute;
                    width: 10px;
                    height: 6px;
                    display: inline-block;
                    right: 0;
                    top: 0;

                    &:before {
                        content: "\f107";
                        font-family: "Font Awesome\ 5 Free";
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        font-weight: 700;
                        font-size: 1.2rem;
                        color: #fff;
                    }
                }

                & > a {
                }

                .sub-menu {
                    display: none;
                    z-index: 100;
                    padding: 10px 20px;

                    @include rounded(3px);

                    background-color: #fff;

                    @include cover;

                    background-position: center right;
                    width: 100%;
                    max-width: none;
                    position: relative;

                    &:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 7px 7px 7px;
                        border-color: transparent transparent #fff transparent;
                        position: absolute;
                        top: -7px;
                        left: 50%;
                        margin-left: -7px;
                    }

                    li {
                        display: inline-block;
                        width: 100%;
                        margin: 2px 0;

                        a {
                            font-size: 1.3rem;
                            color: $headings-color;
                            font-weight: 400;
                            display: block;
                            padding: 5px 0;
                        }

                        &.current-menu-item {
                            a {
                                color: $main-color;
                            }
                        }
                    }
                }

                &.active {
                    & > ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            &.current-menu-item {
                a {
                    color: $main-color;
                }
            }
        }
    }
}

.bg-section {
    @include cover;
}

blockquote {
    text-align: center;
    clear: both;

    @include clear;

    font-size: 4rem;
    line-height: 56px;
    color: $headings-color;
    padding: 60px 40px;
    font-style: italic;
    position: relative;

    @include mobile {
        font-size: 2.4rem;
        line-height: normal;
        padding: 30px 20px;
    }

    &:before {
        content: "";
        position: absolute;
        width: 46px;
        height: 29px;
        background-image: url(images/quotes.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        left: 45px;
        z-index: 10;
        top: 20px;
        visibility: visible;

        @include mobile {
            top: -5px;
        }
    }
}

.no-border {
    border: 0 !important;
}

.picker__holder {
    min-width: 350px;

    .picker__button--today, .picker__button--clear, .picker__button--close {
        min-width: 0;
        font-family: $main-font;
        color: $main-text-color;
        height: auto;
        line-height: normal;
    }
}

.picker--opened .picker__holder {
    border: 0;
    outline: 0;
}

.mobile-menu-buttons {
    display: none;

    @include mobile {
        display: inline-block;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-slider {
    .slick-slide {
        outline: 0;
        border: 0;
    }

    .slick-dots {
        bottom: 65px;
        left: 6%;
        opacity: .2;

        @include big-desktop {
            bottom: 40px;
        }

        @include mobile {
            bottom: 20px;
        }

        li {
            margin: 0;
            width: auto;
            height: auto;
            padding: 0;
            float: left;
            margin-right: 5px;

            button {
                min-width: 0;
                padding: 0;
                width: 6px;
                height: 6px;
                margin-top: 0px;

                @include rounded(3px);

                background: #fff;
                box-shadow: none;

                @include mobile {
                }

                @include transition(all, 0.4s);

                &:before {
                    display: none !important;
                }
            }

            &:before {
                display: none !important;
            }

            &.slick-active {
                button {
                    width: 20px;
                    height: 6px;
                }
            }
        }
    }

    .slick-prev, .slick-next {
        width: 16px;
        height: 27px;
        background-image: url(images/default/controls.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
        min-width: 0;
        box-shadow: none;
        border: 0px solid #fff;
        z-index: 90;
        margin-top: -8px;
        opacity: 0.3;

        @include transition(all, 0.4s);
        @include mobile {
        }

        &:before {
            display: none;
        }

        &:hover {
            opacity: .7;
        }
    }

    .slick-prev {
        left: 35px;

        @include big-desktop {
            left: 25px;
        }
    }

    .slick-next {
        right: 35px;
        background-position: -16px 0;

        @include big-desktop {
            right: 25px;
        }
    }
}

.sep {
    margin-bottom: 40px;
    height: 1px;
    background: $border-color;
    display: block;
    clear: both;
    width: 100%;
    margin-top: 50px;

    @include clear;

    @include mobile {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    &.big {
        margin: 160px 0;
    }
}

.clear {
    @include clear;
}

.picker__select--month, .picker__select--year {
    color: $background_bg;
    line-height: normal;
}

.picker__holder .picker__button--today, .picker__holder .picker__button--clear, .picker__holder .picker__button--close {
    color: $background_bg;
}

.fancybox-slide > * {
    padding: 0;
}

// ===================

img {
    max-width: 100%;
}

.limited-content {
    max-width: 700px;
    margin: 0 auto;
}

.page-content {
    min-height: 500px;
}

.tabs-wrapper {
    .navigator {
        overflow: hidden;
        position: relative;
        z-index: 3;

        .tab-selector {
            display: inline-block;
            float: left;
            min-width: 120px;
            text-align: center;
            height: 44px;
            line-height: 44px;
            padding: 0 20px;
            border: 1px solid transparent;
            -webkit-border-radius: 3px;
            -webkit-border-bottom-left-radius: 0;
            -moz-border-radius: 3px;
            -moz-border-radius-bottomleft: 0;
            border-radius: 3px;
            border-bottom-left-radius: 0;
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $main-text-color;
            border-bottom: 0;
            cursor: pointer;

            &.active {
                background: $grey_bg;
                color: $main-color;
                border: 1px solid $border-color;
                border-bottom: 0;
            }
        }
    }

    .tab-wrapper {
        padding: 25px 30px;
        background: $grey_bg;
        border: 1px solid $border-color;
        position: relative;
        z-index: 2;
        margin-top: -1px;

        .tab {
            height: 0;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;

            @include transition(all, 0.4s);

            &.active {
                opacity: 1;
                visibility: visible;
                height: auto;
            }
        }
    }
}

.hide {
    display: none !important;
}

.container {
    @include mobile {
        overflow: hidden;

        &.visible {
            overflow: visible;
        }
    }

    &.visible-overflow {
        @include mobile {
            overflow: visible;
        }
    }
}

.popup-content {
    background: #fff;
    padding: 25px 30px 20px;

    @include mobile {
        padding: 25px 20px;
    }

    h3 {
        margin-bottom: 20px;
    }

    .input-block {
        margin-bottom: 15px;

        & > label {
            margin-bottom: 3 pz;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="search"],
        input[type="tel"],
        input[type="url"],
        input[type="number"],
        input[type="date"],
        input[type="time"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="week"],
        input[type="month"],
        textarea,
        select, .selectize-input {
            height: 40px;
            line-height: 40px;

            @include mobile {
                height: 36px;
                line-light: 36px;
            }

            &:active,
            &:hover,
            &:focus {
                @include transition(all, 0.2s);
            }
        }
    }

    .tabs-wrapper {
        .navigator {
            .tab-selector {
                height: 40px;
                line-height: 40px;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }

        .tab-wrapper {
            padding: 20px 25px;
        }
    }

    .lwa {
        margin-bottom: 0;
    }
}

.accordion-wrapper {
    .accordion-item {
        border: 1px solid $border-color;

        @include rounded(3px);

        .accordion-header {
            position: relative;
            padding: 10px 10px 10px 27px;
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: pointer;

            &:before {
                content: "\f107";
                font-family: Font Awesome\ 5 Free;
                position: absolute;
                right: 20px;
                top: 12px;
                font-weight: 900;
                font-size: 1.8rem;
                color: $headings-color;
            }

            h6 {
                margin: 0;
                font-size: 1.6rem;
                font-weight: 600;
                font-family: $main-font;
            }
        }

        .accordion-hidden-content {
            margin-top: 5px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            margin: 0px 27px;
        }

        &.active {
            .accordion-header {
                &:before {
                    content: "\f106";
                }
            }

            .accordion-hidden-content {
                max-height: 800px;
                margin: 15px 27px;
                transition: max-height 0.4s ease-in;
            }
        }
    }
}

.big-mb {
    margin-bottom: 80px;

    @include mobile {
        margin-bottom: 30px;
    }
}

.mb {
    margin-bottom: 115px;

    @include mobile {
        margin-bottom: 45px;
    }
}

.small-mb {
    margin-bottom: 25px;
}

.mt {
    margin-top: 60px;

    @include mobile {
        margin-top: 20px;
    }
}

.small-mt {
    margin-top: 25px;
}

.no-mb {
    margin-bottom: 0;
}

.mobile-mb {
    @include tablet {
        margin-bottom: 25px;
    }
}

.greyscale {
    -webkit-filter: grayscale(100%);

    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.fancybox-controls {
    button {
        min-width: 0;
    }
}

.video-wrapper {
    position: relative;

    /* padding-bottom: 56.25%; */
    /* padding-bottom: 52.65%;
    padding-top: 30px; height: 0; overflow: hidden; */

    iframe, object, embed {
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        border: 5px solid $background_bg;
    }

    img {
        width: 100%;
    }
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.top-banner {
    @include cover;

    height: 300px;
    text-align: left;
    position: relative;
    background-color: $headings-color;
    overflow: hidden;

    @include mobile {
        height: 200px;
    }

    video {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 1;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .2;
        z-index: 1;
    }

    .container {
        height: calc(100% - 118px);
        margin-top: 118px;
        z-index: 10;

        @include mobile {
            height: calc(100% - 86px);
            margin-top: 86px;
        }
    }

    .inner-content {
        @include vertical-align;
        @include clear;

        top: 50%;

        h1, h2 {
            font-size: 7rem;
            line-height: 70px;
            color: #fff;
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);

            @include big-desktop {
                font-size: 5.6rem;
                line-height: 56px;
                margin-bottom: 15px;
            }

            @include mobile {
                font-size: 3.6rem;
                line-height: 36px;
                margin-bottom: 10px;
            }

            @include small-mobile {
                font-size: 3rem;
                line-height: 30px;
                margin-bottom: 5px;
            }
        }

        .text-content {
            display: inline-block;
            max-width: 550px;

            @include mobile {
                max-width: 100%;
                text-align: center;
                max-width: 450px;
                margin: 0 auto;
                display: block;
                float: none;
            }

            @include small-mobile {
                text-align: center;
                max-width: 100%;
            }

            p {
                color: #fff;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);

                @include small-desktop {
                    margin-bottom: 20px;
                }

                @include mobile {
                    line-height: 20px;
                }
            }

            .button {
                color: #fff;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }

    .image {
        max-width: 45%;
        position: absolute;
        right: 0;
        bottom: -140px;
        width: 100%;

        @include mobile {
            max-width: 100%;
            width: 60%;
            margin: 0 auto;
            position: static;
            float: none;
            text-align: center;
        }

        @include big-desktop {
            bottom: -90px;
        }

        img {
            max-height: 75vh;

            @include mobile {
                max-height: 30vh;
                display: inline-block;
            }
        }
    }

    &.slide-item {
        .text-content {
            h2, a {
                @include transition(all, 0.7s);

                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1);
                opacity: 0;
                transform-origin: 50% 50% 0px;
                transition-delay: 0.7s;
            }

            p {
                @include transition(all, 0.7s);

                transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -62, 0, 1);
                opacity: 0;
                transform-origin: 50% 50% 0px;
                transition-delay: 0.7s;
            }
        }

        .image {
            @include transition(all, 0.7s);

            opacity: 0;
            -ms-transform: translate(150px, 0px);

            /* IE 9 */
            -webkit-transform: translate(150px, 0px);

            /* Safari */
            transform: translate(150px, 0px);
            transition-delay: 0.7s;

            @include mobile {
                -ms-transform: translate(0px, -150px);

                /* IE 9 */
                -webkit-transform: translate(0px, -150px);

                /* Safari */
                transform: translate(0px, -150px);
            }
        }

        &.slick-current {
            .text-content {
                h2, a {
                    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    opacity: 1;
                    transform-origin: 50% 50% 0px;
                    transition-delay: 0.7s;
                }

                p {
                    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                    opacity: 1;
                    transform-origin: 50% 50% 0px;
                    transition-delay: 0.7s;
                }
            }

            .image {
                opacity: 1;
                -ms-transform: translate(0px, 0px);

                /* IE 9 */
                -webkit-transform: translate(0px, 0px);

                /* Safari */
                transform: translate(0px, 0px);
                transition-delay: 0.7s;
            }
        }
    }
}

.inner-page {
    .top-banner {
        @include small-mobile {
            top: 50%;
        }

        h1, h2 {
            margin: 0 auto;
            font-size: 6rem;
            line-height: 60px;
            max-width: 700px;

            @include mobile {
                font-size: 3.6rem;
                line-height: 36px;
                margin-bottom: 0px;
            }

            @include small-mobile {
                font-size: 3rem;
                line-height: 30px;
                margin-bottom: 0px;
            }
        }

        &:before {
            opacity: .5;
        }
    }
}

.single-post {
    .inner-page {
        .top-banner {
            h1, h2 {
                max-width: 900px;
                font-size: 5rem;
                line-height: 1.1em;

                @include tablet {
                    font-size: 4rem;
                }

                @include mobile {
                    font-size: 3.2rem;
                }

                @include small-mobile {
                    font-size: 2.6rem;
                }
            }
        }
    }
}

.home-slider-wrapper {
    overflow: hidden;
}

.split-section-wrapper {
    overflow: hidden;
    padding: 0 6%;

    .main-product-part {
        height: 100vh;
        text-align: center;
        display: inline-block;
        width: 50%;
        max-height: 1000px;

        @include mobile {
            width: 100%;
            height: auto;
            max-height: none;
        }

        .inner-content {
            @include vertical-align;

            max-width: 500px;
            margin: 0 auto;
            padding: 0 20px;

            @include mobile {
                position: static;
                transform: none;
                padding: 40px 25px;
            }

            .image {
                display: block;
                margin-bottom: 0;

                img {
                    max-width: 80%;
                    max-height: 480px;

                    @include big-desktop {
                        max-width: 70%;
                        max-height: 300px;
                    }
                }
            }

            .text-content {
                .price {
                    display: inline-block;
                    font-size: 2.4rem;
                    color: $main-color;
                    font-weight: 400;

                    span {
                        font-size: 2.4rem;
                        color: $main-color;
                        font-weight: 400;

                        &.old-price {
                            text-decoration: line-through;
                            color: $main-text-color;

                            span {
                                color: $main-text-color;
                            }
                        }
                    }
                }

                h3 {
                    font-size: 3.6rem;
                    font-family: $main-font;
                    font-weight: 300;
                    margin-bottom: 20px;

                    @include big-desktop {
                        margin-bottom: 10px;
                        font-size: 3.2rem;
                    }

                    @include mobile {
                        font-size: 3rem;
                    }
                }

                p {
                    line-height: 28px;

                    @include big-desktop {
                        line-height: 26px;
                        margin-bottom: 25px;
                    }
                }

                .button {
                    min-width: 172px;

                    &.loading {
                        opacity: 0.6;

                        &:after {
                            font-family: WooCommerce;
                            content: '\e01c';
                            vertical-align: top;
                            font-weight: 400;
                            position: absolute;
                            top: 0;
                            right: 15px;
                            -webkit-animation: spin 2s linear infinite;
                            animation: spin 2s linear infinite;
                        }
                    }
                }
            }
        }
    }

    .images-gallery {
        display: inline-block;
        width: 50%;
        overflow: hidden;

        @include mobile {
            width: 100%;
        }

        .gallery-wrapper {
            margin-left: -7px;
            margin-right: -7px;

            .gallery-item {
                display: inline-block;
                width: 50%;
                padding: 0 7px 0px;
                float: left;
                background-color: #f7f7f7;
                border-left: 7px solid $background_bg;
                border-right: 7px solid $background_bg;

                .image-wrapper {
                    @include cover;

                    display: block;
                    height: 50vh;
                    max-height: 500px;
                    mix-blend-mode: multiply;

                    @include mobile {
                        height: 40vh;
                    }
                }

                &.wide {
                    width: 100%;
                    margin-bottom: 14px;

                    .image-wrapper {
                        height: calc(50vh - 14px);
                        max-height: 500px;

                        @include mobile {
                            height: 40vh;
                        }
                    }
                }
            }
        }
    }
}

.range-wrapper {
    margin-top: -5px;

    .irs-from, .irs-to, .irs-single {
        background: $main-color;
    }
}

.widget {
    margin-bottom: 30px;

    @include mobile {
        margin-bottom: 20px;
    }

    .widgettitle {
        font-size: 1.8rem;
        font-weight: 600;
        font-family: $main-font;
        color: $headings-color;
        position: relative;
        margin-bottom: 15px;
        text-transform: none;
        letter-spacing: normal;
        z-index: 1;

        span {
            display: inline-block;
            padding: 0 15px 0 0;
            background: $background_bg;
            position: relative;
            z-index: 10;
        }

        &:before {
            content: "";
            height: 1px;
            width: 100%;
            right: 0;
            top: 15px;
            background: $border-color;
            position: absolute;
            z-index: 0;
        }
    }

    a.expand-list {
        position: relative;
        font-size: 1.4rem;
        font-weight: 400;
        display: block;
        padding-left: 28px;
        color: $headings-color;
        margin-top: 20px;

        &:before {
            content: "\f103";
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1.3rem;
            color: $headings-color;
            font-family: Font Awesome\ 5 Free;
            font-weight: 900;
        }

        &.active {
            &:before {
                content: "\f102";
            }
        }
    }
}

ul.filter-list {
    max-height: 210px;
    overflow: hidden;

    @include transition(all, 1s);

    &.expanded {
        max-height: 600px;

        @include transition(all, 1s);
    }

    li {
        display: inline-block;
        width: 100%;
        margin-bottom: 0px;
        line-height: normal;

        @include mobile {
            margin-bottom: 5px;
        }

        .styled-checkbox-wrapper {
            float: left;
        }

        .stock_no {
            display: inline-block;
            float: right;
            font-size: 1.3rem;
            font-weight: 600;
            color: #fff;
            padding: 1px 0px;
            width: 28px;

            @include rounded(3px);

            text-align: center;
            background: $main-color;
            line-height: normal;
            margin-top: 2px;
        }
    }
}

.page-wrapper {
    padding: 40px 0;
}

.breadcrumbs {
    margin-bottom: 40px;

    @include mobile {
        margin-bottom: 20px;
    }

    div {
        overflow: hidden;

        > span {
            display: inline-block;
            float: left;
            margin-right: 12px;
            font-size: 1.4rem;
            color: $main-text-color;
            font-weight: 400;
            position: relative;

            i {
                margin-right: 3px;
            }

            &:before {
                content: "/";
                position: absolute;
                right: -9px;
                top: 1px;
                font-size: 1.4rem;
                color: $main-text-color;
                font-weight: 400;
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }
        }
    }
}

.page-content {
    .sidebar {
        width: 250px;
        display: inline-block;
        float: left;

        @include mobile {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .main-content {
        width: calc(100% - 250px);
        float: left;
        display: inline-block;
        padding-left: 60px;

        @include mobile {
            width: 100%;
            padding-left: 0;
        }
    }
}

.sidebar-toggle-bar {
    display: none;
    width: 100%;
    border: 1px solid $border-color;

    @include rounded(3px);

    padding: 5px 10px;
    margin-bottom: 20px;

    @include mobile {
        display: inline-block;
    }

    span {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 500;
        color: $main-text-color;

        @include transition(all, 0.4s);
    }

    i {
        font-size: 1.4rem;
        color: $main-text-color;
        margin-top: 8px;

        @include transition(all, 0.4s);
    }

    &.active {
        span {
            color: $headings-color;
        }

        i {
            color: $headings-color;
        }
    }
}

.products-categories-menu {
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;

    li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;

        @include mobile {
            float: left;
            margin: 0;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        a {
            padding: 10px 10px;
            border: 1px solid $border-color;
            line-height: normal;
            font-size: 1.3rem;
            min-width: 120px;
            font-weight: 600;
            color: $headings-color;
            text-transform: uppercase;
            display: inline-block;

            @include small-desktop {
                font-size: 1.2rem;
            }

            @include mobile {
                font-size: 1.3rem;
                min-width: 0;
                padding: 7px 10px;
            }

            &.active, &:hover {
                border: 1px solid $main-color;
                color: $main-color;
            }
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }

        &.active {
            li {
            }

            a {
                border: 1px solid $main-color;
                color: $main-color;
            }
        }
    }
}

p.results {
    font-size: 1.8rem;
    font-weight: 600;
    color: $headings-color;
    margin: 0;

    @include mobile {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
}

.options-bar {
    margin-bottom: 40px;

    @include mobile {
        margin-bottom: 20px;
    }

    .view-switch {
        overflow: hidden;

        @include small-desktop {
            display: none;
        }

        .option {
            display: inline-block;
            float: left;
            padding: 4px;
            font-size: 0;
            border: 1px solid $headings-color;
            cursor: pointer;

            @include rounded(4px);
            @include transition(all, 0.4s);

            margin-right: 6px;
            opacity: .3;

            &.active {
                opacity: 1;
            }

            span {
                width: 8px;
                height: 14px;
                display: inline-block;
                margin-right: 4px;
                background: $headings-color;
                float: left;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .sort-wrapper {
        display: inline-block;

        @include mobile {
            width: 100%;
        }

        label {
            line-height: 46px;
            color: $headings-color;
            margin-right: 18px;
            display: inline-block;
            float: left;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 0;

            @include mobile {
            }
        }

        .select-block {
            width: 170px;
            float: left;
            display: inline-block;

            @include mobile {
                float: right;
            }
        }
    }
}

.products-listing {
    .product-item-wrapper {
        position: relative;
        height: 377px;
        margin-bottom: 5px;

        @include mobile {
            margin-bottom: 10px;
        }

        .onsale {
            position: absolute;
            top: 10px;
            z-index: 20;
            left: 10px;
            background-image: url(images/sale-tag.svg);
            background-size: 50px auto;
            background-repeat: no-repeat;
            width: 80px;
            height: 50px;

            &.no_stock {
                background-image: url(images/out-of-stock-tag.svg);

                span {
                    font-size: 1rem;
                    color: $grey-color;
                }
            }

            span {
                @include transform-origin(0, 100%);

                font-size: 1.2rem;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;

                @include rotate(-45);

                position: absolute;
                bottom: 6px;
                left: 11px;
            }
        }

        .product-item {
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: calc(100% - 38px);

            @include transition(all, 0.3s);
            @include rounded(3px);

            border: 1px solid $border-color;
            padding: 3px;

            .add-to-fav {
                display: inline-block;
                color: $border-color;
                position: absolute;
                top: 16px;
                right: 16px;
                z-index: 10;
                font-size: 1.6rem;

                &:hover {
                    color: $main-color;
                }
            }

            .yith-wcwl-add-to-wishlist {
                display: none;
            }

            .image {
                perspective: 1000;
                position: relative;
                height: 240px;
                display: inline-block;
                width: 100%;
                margin-top: 10px;

                .f1_card {
                    width: 100%;
                    height: 100%;
                    display: block;

                    img {
                        width: auto;
                    }

                    .face {
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        @include transition(all, 0.6s);

                        display: block;

                        img {
                            display: block;

                            @include vertical-align;

                            margin: 0 auto;
                            max-height: 100%;
                        }
                    }

                    .face.back {
                        display: block;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }

            &:hover {
            }

            h4 {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1em;
                margin: 0 auto;
                font-family: $main-font;
                height: 45px;
                max-width: 230px;
            }

            .price {
                display: inline-block;
                font-size: 2rem;
                color: $main-text-color;
                font-weight: 700;
                margin-bottom: 5px;

                span {
                    display: inline-block;

                    &.old-price {
                        text-decoration: line-through;

                        span.amount {
                            text-decoration: line-through;
                        }
                    }
                }
            }

            .bottom-buttons {
                width: 100%;
                overflow: hidden;
                height: 0;
                opacity: 0;

                @include transition(all, 0.4s);

                @include mobile {
                    height: 38px;
                    opacity: 1;
                }

                a.button {
                    height: 38px;
                    line-height: 36px;
                    width: calc(50% - 1px);
                    float: right;
                    font-size: 1.4rem;
                    font-weight: 400;
                    padding: 0 5px;
                    min-width: 0;

                    i {
                        top: 0;
                    }

                    &.dark {
                        float: left;
                    }

                    &:after {
                        display: none;
                    }
                }
            }
        }

        &:hover {
            .product-item {
                .f1_card {
                    .face {
                        opacity: 0;
                        visibility: hidden;

                        &.back {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                .bottom-buttons {
                    height: 38px;
                    opacity: 1;
                }
            }
        }

        .outofstock {
            .product-item {
                .bottom-buttons {
                    .button {
                        &.add-to-cart {
                            display: none;
                        }

                        &.dark {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &.condensed {
        margin-left: -13px;
        margin-right: -13px;

        .col_33 {
            width: 25%;
            padding-left: 13px;
            padding-right: 13px;

            @include small-desktop {
                width: 33.33%;
            }

            .product-item-wrapper {
                .product-item {
                    h4 {
                        max-width: 100%;
                        font-size: 1.6rem;
                    }

                    .button {
                        font-size: 1.3rem;

                        i {
                            font-size: 1.3rem;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }

    .col_33 {
        @include tablet {
            width: 50%;
        }

        @include small-mobile {
            width: 100%;
        }
    }
}

.shop-page {
    .sidebar {
        @include mobile {
            display: none;
        }
    }
}

.grey-box {
    padding: 25px 40px;
    background: $grey_bg;

    &.big-pd {
        padding: 40px 50px;

        @include mobile {
            padding: 20px 30px;
        }
    }

    @include rounded(3px);

    border: 1px solid $border-color;

    @include mobile {
        padding: 20px 25px;
    }
}

.zoomContainer {
    @include tablet {
        display: none !important;
    }
}

.video-frame {
    position: relative;
    display: block;

    img {
        width: 100%;
    }

    i {
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 50%;
        color: #fff;
        font-size: 5rem;
        margin-left: -25px;
        margin-top: -25px;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 1;
        opacity: .7;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.articles-listing {
    .col_50 {
        @include tablet {
            width: 50%;
        }

        @include mobile {
            width: 100%;
        }
    }

    .article-item {
        border: 1px solid $border-color;
        margin-bottom: 30px;

        @include rounded(3px);

        background: #fff;

        a.image {
            display: block;
            position: relative;

            img {
                width: 100%;
                height: auto;
            }

            span.postdate {
                position: absolute;
                left: 25px;
                bottom: 15px;
                z-index: 10;
                height: 24px;
                line-height: 24px;
                color: #fff;
                padding: 0 11px;

                @include rounded(3px);

                font-size: 1.3rem;
                font-weight: 400;
                background: rgba(0, 0, 0, 0.7);
            }
        }

        .text-content {
            height: 180px;
            overflow: hidden;
            padding: 15px 25px;

            @include small-desktop {
                height: 200px;
            }

            @include mobile {
                height: auto;
            }

            h4 {
                font-family: $main-font;
                font-size: 1.8rem;
                font-weight: 600;
                margin: 0;
                margin-bottom: 5px;
                height: 54px;

                @include tablet {
                    font-size: 1.6rem;
                }

                @include mobile {
                    height: auto;
                }
            }

            p {
                margin: 0;
                font-size: 1.4rem;
                line-height: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

.woocommerce-checkout table.shop_table, .woocommerce-cart table.shop_table {
    background: $grey_bg;
    border-collapse: initial;
    overflow: hidden;
    padding: 0 50px;
    margin-bottom: 40px;

    @include rounded(4px);

    @include tablet {
        padding: 0 30px;
    }

    td, th {
        border: 0;
    }

    tr {
        position: relative;
    }

    th {
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        color: $headings-color;
        padding: 20px 30px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    td {
        border-top: 1px solid #fff;
        font-size: 1.8rem;
        font-weight: 600;
        color: $headings-color;
        padding: 17px 30px;
        min-width: 40px;

        @include mobile {
            font-size: 1.6rem;
        }

        a {
            color: $headings-color;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

        &.product-price {
            color: $main-text-color;
            font-size: 2rem;
            font-weight: 700;

            @include mobile {
                font-size: 1.6rem;
            }
        }

        &.product-name {
            a {
                line-height: normal;
            }
        }

        &.product-remove {
            a {
                display: block;
                position: relative;

                &:before {
                    font-weight: 900;
                    content: "\f057";
                    font-family: Font Awesome\ 5 Free;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -9px;
                    z-index: 10;
                    color: $border-color;

                    @include tablet {
                        left: 50%;
                        margin-left: -9px;
                    }
                }
            }
        }

        &.product-thumbnail {
            a {
                display: block;
                text-align: center;
                padding: 10px;
                height: 120px;
                background: #fff;
                border: 1px solid $border-color;

                @include rounded(3px);

                img {
                    display: block;

                    @include vertical-align;

                    margin: 0 auto;
                    max-height: 90%;
                }
            }
        }

        &.product-quantity {
            input {
                max-width: 80px;

                @include tablet {
                    height: 36px;
                    line-height: 36px;
                    max-width: 50px;
                    padding: 0 10px;
                }
            }
        }
    }
}

.stripe-pf {
    font-size: 0.7em;
}

.cart-collaterals {
    width: 100%;

    .cart_totals {
        float: right;
        width: 48%;
        max-width: 400px;

        @include tablet {
            width: 100%;
            max-width: 100%;
        }
    }

    table.shop_table {
        background: none;
        border: 0;
        border-collapse: initial;
        overflow: hidden;
        padding: 0;
        margin-top: 20px;

        .cart-subtotal {
            th, td {
                text-transform: none;
                padding: 5px;
                color: $headings-color;
                font-size: 1.8rem;
                font-weight: 600;
                text-align: right;
            }
        }

        .order-total {
            th, td {
                padding: 5px;
                color: $main-text-color;
                text-transform: none;
                font-size: 1.6rem;
                font-weight: 400;
                text-align: right;
            }
        }
    }
}

.wc-proceed-to-checkout {
    .button {
        width: 48%;
        padding: 0px 10px;

        @include small-mobile {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

.coupon-area {
    float: left;

    @include tablet {
        width: 100%;
        margin-bottom: 30px;
    }

    input[type="text"] {
        width: calc(100% - 180px);
        float: left;
    }

    .button {
        width: 170px;
        padding: 0;
        float: right;
    }
}

table.shop_table_responsive thead, .woocommerce-page table.shop_table_responsive thead {
    @include tablet {
        display: none;
    }
}

table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr {
    @include tablet {
        display: block;
        border-bottom: 2px solid #fff;
        padding: 5px 0;
    }
}

table.shop_table_responsive tbody tr:first-child td:first-child, .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
    @include tablet {
        border-top: 0;
    }
}

table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
    @include tablet {
        content: attr(data-title) " ";
        font-weight: 700;
        float: left;
        color: $headings-color;
    }
}

table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
    @include tablet {
        display: block;
        text-align: right !important;
        padding: 5px 0;
        border: 0;
        line-height: 36px;
        min-height: 30px;

        &.product-name {
            line-height: normal;
        }
    }
}

table.shop_table {
    .cart-subtotal, .order-total {
        th {
            @include tablet {
                display: none;
            }
        }
    }
}

.admin_red_msg {
    border: 2px solid $main-color;
    margin: 5px;
    padding: 0 5px;

    a {
        color: $main-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

.woocommerce a.remove {
    color: #fff !important;
    background: none;

    &:hover {
        color: transparent;
        background: none;

        &:before {
            color: $main-text-color;
        }
    }
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    min-width: 150px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    text-align: left;
}

.woocommerce .quantity .qty {
    width: 5.631em;
    padding: 0 15px;
    text-align: left;
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    padding: 0 15px;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button, .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button {
    padding: 0 15px;
    font-size: 1.6rem;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background: none;
    color: $main-color;

    &:hover {
        background: $main-color;
        color: #fff;
    }
}

.wc-proceed-to-checkout {
    .button {
        width: 100%;
    }
}

.cart_totals {
    th {
        text-align: left !important;
    }

    td {
        text-align: right;
    }
}

.shipping-calculator-form {
    p.form-row {
        span {
            position: static;
        }
    }
}

.shipping-calculator-form {
    .button {
        width: 100%;
    }
}

.select2-container .select2-selection--single {
    height: 46px;

    @include mobile {
        height: 42px;
    }
}

.select2-container--default .select2-selection--single {
    @include rounded(3px);

    border: 1px solid $border-color;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 46px;
    line-height: 46px;
    text-align: left;
    padding: 0 20px;

    @include mobile {
        height: 42px;
        line-height: 42px;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    margin-top: -13px;
    right: 10px;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    color: $main-text-color;

    a {
        color: $main-color;
    }
}

.woocommerce-MyAccount-navigation {
    ul {
        li {
            margin: 0 !important;
            border-bottom: 1px solid $border-color;
            display: inline-block;
            width: 100%;
            padding: 5px 0;

            a {
                padding: 10px 0;
                display: block;
                color: $headings-color;
                font-size: 1.6rem;
            }

            &.is-active {
                a {
                    color: $main-color;
                }
            }

            &:first-child {
                margin-top: 0 !important;
                padding-top: 0;
            }

            &:last-child {
                border: 0;
            }
        }
    }
}

.woocommerce table.my_account_orders .button {
    margin: 0 5px;
    min-width: 80px;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    max-width: 300px;
}

.woocommerce table.shop_table {
    border: 0;
    padding: 0;
}

.wishlist_table {
    tfoot {
        display: none;
    }
}

.woocommerce-table--order-details {
    padding: 0 20px !important;
}

.woocommerce-variation.single_variation {
    margin-bottom: 5px;
}

.lwa .lwa-register {
    margin-top: 0;
}

body {
    overflow-x: hidden;
}

.about-page {
    .top-banner {
        .inner-content {
            top: 15%;
        }

        &:before {
            display: none;
        }
    }
}

.reviews-section {
    margin-bottom: 30px;
}

.product-details-right, .shop_table {
    .quantity {
        input[name="quantity"], input.qty {
            float: left;
            width: 70px;
            padding: 0 10px;
            text-align: center;
        }
        .decrease_quantity, .increase_quantity {
            cursor: pointer;
            float: left;
            padding: 0 10px;
            background: #fff;
            border: 1px solid $border-color;
            height: 46px;
            line-height: 46px;
            margin: 0;
            font-size: 1.7rem;
            font-family: "Titillium Web", Arial, Helvetica, sans-serif;
            font-weight: 700;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}