// grid

$container: 1200px;

// colors
$main-color: #d43340;

//copper

$background_bg: #fff;
$header_bg_scrolled: #151517;
$grey_bg: #f8fafb;

$main-text-color: #6c6c75;

$grey-color: #414042;

$headings-color: #26262a;

$border-color: #dedee4;
$border-color2: #dcdae0;

// fonts
$sans: Arial, Helvetica, sans-serif;

$main-font: "Titillium Web", $sans;

$headings-font: "Teko", $sans;

// screen widths

$big-desktop-width: 1600px;
$small-desktop-width: 1240px;
$tablet-width: 1024px;
$mobile-width: 767px;
$small-mobile-width: 480px;