#add_payment_method #payment .payment_method_paypal .about_paypal,
.woocommerce-cart #payment .payment_method_paypal .about_paypal,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal,
.stripe-pf-right {
    line-height: 30px;
}
.added_to_cart.wc-forward {
    display: none;
}
#yith-wcwl-popup-message {
    display: none !important;
}
.hidden_variation {
    display: none;
}
table.variations {
    margin: 0;
}
.woocommerce button.button.alt, .woocommerce button.button.alt.disabled {
    background: none;
    color: $main-color;
    padding: 0;
    &:hover {
        background: $main-color;
    }
}
.hidden_quantity {
    display: none;
}
.woocommerce div.product form.cart, .woocommerce div.product form.cart .variations {
    margin: 0;
}
.comment-form-rating .selectric-wrapper, #review_form_wrapper {
    display: none;
}
.add-to-wish-trigger {
    cursor: pointer;
}
.woocommerce #respond input#submit.loading::after, .woocommerce a.button.loading::after, .woocommerce button.button.loading::after, .woocommerce input.button.loading::after{
    top: 0;
}
p.form-row > span.select2-container {
    position: relative;
    top: 0;
}
.woocommerce-MyAccount-navigation-link--payment-methods {
    display: none;
}

.woocommerce-checkout .woocommerce-cart-form {
     table.shop_table {
         padding: 0 20px;
         .product-remove {
             padding-right: 0;
             text-align: center;
         }
     }
 }

.woocommerce-checkout table.cart td.actions .coupon .input-text {
    width: 150px;
    padding: 6px 15px 5px;
}
.woocommerce-checkout table.cart img{
    width: 80px;
}
.woocommerce-checkout table.cart .product-thumbnail{
    width: 180px;
}
.woocommerce-checkout .woocommerce-checkout-review-order table.shop_table{
    tbody .cart_item, thead tr{
        display: none;
    }
    .cart-subtotal{
        th, td{
            border-top: none;
        }
    }
}


.woocommerce-MyAccount-content{
    .form-row-first {
        float: left;
        width: 49%;

        @include mobile {
            width: 100%;
        }
    }

    .form-row-last {
        float: right;
        width: 48%;

        @include mobile {
            width: 100%;
        }
    }

    .field-row-70 {
        float: left;
        width: 70%;

        @include mobile {
            width: 100%;
        }
    }

    .field-row-30 {
        float: right;
        width: 28%;

        @include mobile {
            width: 100%;
        }
    }
}

.woocommerce-form-login-toggle {
    clear: both;
}