footer {
    background: $headings-color;

    p {
        margin: 0;
        line-height: 20px;

        @include mobile {
            margin-bottom: 30px;
            width: 100%;
        }

        &:last-child {
            @include mobile {
                margin-bottom: 0;
            }
        }
    }

    .top-footer {
        padding: 30px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        p {
            line-height: 28px;
        }
        p.right {
            line-height: 28px;
            a {
                color: inherit;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }

    .social-networks {
        line-height: 28px;
        font-size: 1.8rem;

        span {
            display: inline-block;
        }

        a {
            color: #fff;
            font-size: 2.4rem;
            display: inline-block;
            margin-left: 20px;
            &:hover {
                opacity: 0.6;
            }
        }
    }

    .footer-menu {
        display: inline-block;

        li {
            display: inline-block;
            margin: 0 7px;
            position: relative;

            &:before {
                content: "|";
                position: absolute;
                right: -8px;
                top: 0;
                font-size: 1.6rem;
                color: #fff;
                font-weight: 400;
            }

            &:last-child {
                &:before {
                    display: none;
                }
            }

            a {
                font-size: 1.6rem;
                font-weight: 400;
                color: #fff;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }

    .bottom-footer {
        padding: 25px 0;

        @include mobile {
            text-align: center;

            .cards {
                float: none;
            }

            img {
                margin-bottom: 10px;
                float: none;
            }
        }
    }
}