header.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    &:before {
        content: "";
        width: 100%;
        height: 160px;
        top: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        background-image: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
        background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
        background-image: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
        opacity: 1;

        @include transition(all, 0.3s);

        @include mobile {
            height: 100px;
        }
    }

    .container {
        padding: 15px 0 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        z-index: 2;

        @include transition(all, 0.3s);

        @include mobile {
            overflow: visible;
        }
    }

    a.logo {
        display: block;

        img {
            width: 75px;

            @include transition(all, 0.4s);

            @include mobile {
                width: 60px;
            }
        }
    }

    .language-selector {
        overflow: hidden;
        margin-left: 20px;
        padding: 0px 3px;
        border: 0px solid rgba(255, 255, 255, 0.2);
        margin-top: 31px;
        height: 26px;
        line-height: 22px;

        @include rounded(3px);

        display: none;

        @include mobile {
            margin-top: 19px;
        }


        @include mobile {
            display: none;
        }


        a {
            display: inline-block;
            float: left;
            margin: 0 3px;
            line-height: inherit;
            width: 22px;
            height: 16px;

            img {
                width: 80%;
                display: block;
                margin: 0 auto;

                @include transition(all, 0.2s);
                @include vertical-align;
            }

            &.active, &:hover {
                img {
                    width: 100%;
                }
            }
        }
    }

    .header-options {
        margin-top: 25px;
        position: relative;

        @include mobile {
            margin-top: 17px;
            position: static;
        }


        & > a {
            display: inline-block;
            float: left;
            margin-left: 15px;
            font-size: 1.6rem;
            color: #fff;

            &:hover {
                color: $main-color;
            }
        }

        a.open-cart-dropdown {
            position: relative;

            span {
                position: absolute;
                z-index: 10;
                width: 12px;
                height: 12px;
                line-height: 12px;
                text-align: center;
                background: $main-color;
                right: -5px;
                top: -1px;

                @include rounded(6px);

                font-size: .9rem;
                color: #fff;
                font-weight: 400;
            }
        }

        a.open-wishlist {
            @include mobile {
                display: none;
            }
        }

        .dropdown-cart-section {
            display: inline-block;
            float: left;
            position: relative;

            @include mobile {
                position: static;
            }


            a.open-cart-dropdown {
                display: inline-block;
                float: left;
                margin-left: 15px;
                font-size: 1.6rem;
                color: #fff;
            }

            &:hover {
                & > a {
                    color: $main-color;
                }
            }

            .dropdown-cart-wrapper {
                opacity: 0;
                z-index: 100;
                min-height: 160px;
                box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);

                @include transition(all, 0.3s);

                visibility: hidden;
                padding: 15px 35px;

                @include rounded(3px);

                background-color: #fff;
                position: absolute;

                @include cover;

                background-position: center right;
                top: 100%;
                right: 0;
                min-width: 440px;

                @include mobile {
                    width: 100%;
                    min-width: 0;
                    padding: 10px 20px;
                }


                &.active {
                    visibility: visible !important;
                    opacity: 1 !important;
                }

                .small-mt {
                    margin-top: 15px;
                }

                .product-row {
                    overflow: hidden;
                    padding: 13px 0px;
                    border-bottom: 1px solid $border-color;

                    @include mobile {
                        padding: 10px 0;
                    }


                    a.image {
                        display: inline-block;
                        float: left;
                        margin-right: 18px;
                        max-width: 60px;

                        @include mobile {
                            margin-right: 15px;
                        }
                    }

                    span {
                        font-size: 1.6rem;
                        color: $headings-color;
                        font-weight: 400;
                        margin-right: 20px;
                        max-width: 140px;
                        margin-top: 15px;
                        display: inline-block;
                        line-height: 18px;
                        float: left;

                        @include mobile {
                            font-size: 1.4rem;
                            max-width: 120px;
                            margin-right: 10px;
                        }


                        a {
                            display: block;
                            margin: 0;
                            font-size: inherit;
                            color: inherit;

                            &:hover {
                                color: $main-color;
                            }
                        }

                        &.price {
                            color: $main-text-color;
                            font-weight: 600;
                            font-size: 2rem;
                        }
                    }

                    a.delete-item {
                        font-size: 1.4rem;
                        float: right;
                        display: inline-block;
                        color: #dcdce7;
                        margin-top: 15px;

                        &:hover {
                            color: $main-color;
                        }
                    }
                }

                .cart-wrapper {
                    position: relative;

                    &.loading {
                        &:before {
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(255, 255, 255, 0.5);
                            z-index: 3;
                        }

                        &:after {
                            font-family: WooCommerce;
                            content: '\e01c';
                            vertical-align: top;
                            font-weight: 400;
                            position: absolute;
                            top: 0;
                            right: 0;
                            -webkit-animation: spin 2s linear infinite;
                            animation: spin 2s linear infinite;
                            z-index: 4;
                        }
                    }
                }
            }

            &:hover {
                .dropdown-cart-wrapper {
                    opacity: 1;
                    visibility: visible;

                    @include mobile {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }

        .search-form {
            overflow: hidden;
            width: 0;
            display: inline-block;
            float: left;

            @include transition(all, 0.4s);

            input[type="text"] {
                background: none;
                border: 0;
                border-bottom: 1px solid #fff;
                height: 26px;
                line-height: 26px;
                padding: 0px;
                min-width: 0;
                color: #fff;
                font-size: 1.4rem;

                @include rounded(0);

                &::-webkit-input-placeholder {
                    color: #fff;
                    font-size: 1.4rem;
                    letter-spacing: normal;
                    font-weight: 400;
                    font-family: $main-font;
                    font-style: italic;

                    @include mobile {
                        font-size: 1.3rem;
                    }
                }

                &:-moz-placeholder {
                    color: #fff;
                    font-size: 1.4rem;
                    letter-spacing: normal;
                    font-weight: 400;
                    font-family: $main-font;
                    font-style: italic;

                    @include mobile {
                        font-size: 1.3rem;
                    }
                }

                &::-moz-placeholder {
                    color: #fff;
                    font-size: 1.4rem;
                    letter-spacing: normal;
                    font-weight: 400;
                    font-family: $main-font;
                    font-style: italic;

                    @include mobile {
                        font-size: 1.3rem;
                    }
                }

                &:-ms-input-placeholder {
                    color: #fff;
                    font-size: 1.4rem;
                    letter-spacing: normal;
                    font-weight: 400;
                    font-family: $main-font;
                    font-style: italic;

                    @include mobile {
                        font-size: 1.3rem;
                    }
                }
            }

            &.active {
                width: 150px;

                @include mobile {
                    width: 105px;
                }
            }
        }
    }

    &.scrolled {
        background: rgba($header_bg_scrolled, 0.85);

        &:before {
            opacity: 0;
            display: none;
        }

        .container {
            padding: 5px 0 5px;
            border: 0;
        }

        .header-options {
            margin-top: 12px;
        }

        .language-selector {
            margin-top: 18px;
        }

        nav.navigation-menu {
            margin-top: 12px;
        }

        a.logo {
            img {
                width: 50px;

                @include mobile {}
            }
        }

        a.open-sidemenu {
            margin-top: 17px;
        }

        .big-menu-wrapper {
            top: 60px;
        }
    }

    .navigation-menu {
        margin-top: 25px;

        @include mobile {
            display: none;
        }


        & > ul {
            display: inline-block;

            & > li {
                display: inline-block;
                float: left;
                margin-right: 10px;
                position: relative;

                & > a {
                    font-family: $headings-font;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: #fff;
                    font-size: 1.6rem;
                    letter-spacing: 0.05em;
                    padding: 2px 10px;

                    @include rounded(3px);

                    background: none;
                    display: inline-block;
                    line-height: normal;
                }

                &:hover {
                    & > a {
                        color: $main-color;
                    }
                }

                &.menu-item-has-children {
                    &:before {
                        content: "\f107";
                        font-family: "Font Awesome\ 5 Free";
                        position: absolute;
                        right: 10px;
                        top: 0px;
                        font-weight: 700;
                        font-size: 1.2rem;
                        color: #fff;
                    }

                    & > a {
                        padding-right: 20px;
                    }

                    .sub-menu {
                        opacity: 0;
                        z-index: 100;
                        min-height: 200px;
                        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);

                        @include transition(all, 0.3s);

                        visibility: hidden;
                        padding: 15px 30px;

                        @include rounded(3px);

                        background-color: #fff;
                        position: absolute;

                        @include cover;

                        background-position: center right;
                        top: 100%;
                        left: 0;
                        min-width: 360px;

                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 7px 7px 7px;
                            border-color: transparent transparent #fff transparent;
                            position: absolute;
                            top: -7px;
                            left: 20px;
                        }

                        li {
                            display: inline-block;
                            margin: 2px 0;
                            width: 100%;
                            max-width: 70%;
                            line-height: normal;

                            a {
                                font-size: 1.5rem;
                                color: $headings-color;
                                font-weight: 600;
                            }

                            &.current-menu-item, &:hover {
                                & > a {
                                    color: $main-color;
                                }
                            }

                            .sub-menu {
                                position: relative;
                                left: auto;
                                top: auto;
                                margin-left: 20px;

                                /* opacity: 1;
                                visibility: visible; */
                                padding: 0;
                                background: none !important;
                                min-height: 0;
                                box-shadow: none;

                                li {
                                    margin: 1px 0;
                                    max-width: 100%;
                                    line-height: normal;

                                    a {
                                        font-size: 1.3rem;
                                        font-weight: 400;
                                    }

                                    &:hover {
                                        a {
                                            color: $main-color;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &.current-menu-item {
                    a {
                        color: $main-color;
                    }

                    &:hover {
                        /* a {
                            color: #fff;
                        } */
                    }
                }
            }
        }
    }
}

.admin-bar header {
    top: 32px;
}