.article-page {
    .article-featured-img {
        margin-bottom: 40px;

        @include rounded(4px);

        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .limited-content {
        max-width: 700px;
        margin: 0 auto;
    }

    .article-meta {
        overflow: hidden;
        margin-bottom: 30px;

        span {
            display: inline-block;
            float: left;
            z-index: 10;
            height: 24px;
            line-height: 24px;
            color: $main-text-color;
            padding: 0 11px;
            margin-bottom: 10px;

            @include rounded(3px);

            font-size: 1.3rem;
            font-weight: 400;
            background: $grey_bg;
            margin-right: 5px;
        }
    }

    h4 {
        font-family: $main-font;
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .tags-section {
        @include mobile {
            width: 100%;
        }


        .tags-wrapper {
            overflow: hidden;

            a {
                display: inline-block;
                float: left;
                z-index: 10;
                height: 24px;
                line-height: 24px;
                color: #fff;
                padding: 0 11px;
                margin-bottom: 10px;

                @include rounded(3px);

                font-size: 1.3rem;
                font-weight: 400;
                background: $main-color;
                margin-right: 5px;
                font-family: $headings-font;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                font-weight: 500;
                &:hover {
                    background: $headings-color;
                    color: #fff;
                }
            }
        }
    }

    .share-section {
        @include mobile {
            width: 100%;
        }
    }

    .social-networks {
        overflow: hidden;

        a {
            width: 35px;
            height: 35px;

            @include rounded(18px);

            line-height: 35px;
            text-align: center;
            color: #fff;
            display: inline-block;
            float: left;
            margin-left: 7px;
            font-size: 1.6rem;

            &.facebook {
                background: #4d70a8;
            }

            &.twitter {
                background: #00bbf2;
            }

            &.google {
                background: #e3401d;
            }
        }
    }

    .similar-articles-carousel {
        margin: 0 -15px;

        @include mobile {
            margin: 0;
        }


        .slide-item {
            margin: 0 15px;

            @include mobile {
                margin: 0;
            }
        }

        .slick-prev, .slick-next {
            width: 12px;
            height: 20px;
            background-image: url(images/default/dark-controls.png);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: auto 100%;
            min-width: 0;
            box-shadow: none;
            border: 0px solid #fff;
            z-index: 90;
            margin-top: -2px;
            opacity: 0.3;

            @include transition(all, 0.4s);
            @include mobile {}


            &:before {
                display: none;
            }

            &:hover {
                opacity: .7;
            }

            @include mobile {
                top: 70%;
            }
        }

        .slick-prev {
            left: -15px;

            @include mobile {
                left: 7px;
            }
        }

        .slick-next {
            right: -15px;
            background-position: -12px 0;

            @include mobile {
                right: 7px;
            }
        }
    }
}