.woocommerce-checkout {
    @include clear;

    .col2-set {
        display: inline-block;
        float: left;
        width: calc(100% - 400px);
        padding-right: 50px;

        @include tablet {
            width: 100%;
            padding-right: 0;
            margin-bottom: 20px;
        }


        .col-1, .col-2 {
            width: 100%;

            .form-row-first {
                float: left;
                width: 48%;

                @include mobile {
                    width: 100%;
                }
            }

            .form-row-last {
                float: right;
                width: 48%;

                @include mobile {
                    width: 100%;
                }
            }

            .field-row-70 {
                float: left;
                width: 70%;

                @include mobile {
                    width: 100%;
                }
            }

            .field-row-30 {
                float: right;
                width: 28%;

                @include mobile {
                    width: 100%;
                }
            }

            .form-row-wide {
                clear: both;
            }
        }
    }

    .woocommerce-checkout-review-order {
        width: 400px;
        display: inline-block;
        float: left;
        margin-bottom: 40px;

        @include tablet {
            width: 100%;
        }

        table.shop_table {
            padding: 0 30px;

            th {
                &:last-child {
                    text-align: right;
                }

                @include tablet {
                    display: table-cell;
                }
            }

            tr.cart_item {
                td {
                    color: $main-text-color;
                    font-size: 1.4rem;

                    &:last-child {
                        text-align: right;
                    }
                }
            }

            tfoot {
                border-top: 1px solid $border-color;

                td, th {
                    border-top: 1px solid $border-color;
                    padding: 10px 0px;
                }

                td {
                    text-align: right;
                }
            }
        }

        .woocommerce-checkout-payment {
            label {
                width: 100%;

                span {
                    color: $headings-color;
                }

                img {
                    max-height: 16px;
                    margin-left: 5px;
                    margin-top: -2px;
                }
            }

            .button {
                width: 100%;
            }

            .wc_payment_method {
                margin-bottom: 20px;
            }
        }
    }

    .input-block, p.form-row {
        margin-bottom: 20px;

        & > label {
            margin-bottom: 3px;
        }
    }
}