.contact-page {
    h2 {
        font-family: $main-font;
        font-weight: 300;
        margin-bottom: 15px;
    }

    p {
        font-size: 1.4rem;
        line-height: 20px;
        margin-bottom: 20px;
    }

    h4 {
        font-family: $main-font;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 1.8rem;
        color: $headings-color;
    }

    .col_60 {
        @include mobile {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .col_40 {
        @include mobile {
            width: 100%;
        }
    }

    .company-logo {
        margin-top: 40px;

        @include mobile {
            margin-top: 20px;
        }
    }
}