.default-page {
    ol {
        li {
            margin-bottom: 15px;
            font-size: 1.4rem;
            list-style-type: initial;
            font-weight: 400;
        }
    }

    ul {
        li {
            margin-bottom: 15px;
            font-weight: 400;
        }
    }

    .col_50 {
        @include tablet {
            width: 100%;
        }


        img {
            width: 100%;
        }
    }
}

.search_results {
    .col_50 {
        width: 25%;
        &:nth-child(4n+1) {
            clear: both;
        }
        @include tablet {
            width: 50%;
            &:nth-child(4n+1) {
                clear: none;
            }
            &:nth-child(2n+1) {
                clear: both;
            }
        }
        @include mobile {
            width: 100%;
            &:nth-child(2n+1) {
                clear: none;
            }
        }
        .article-item .text-content {
            height: auto;
            h4 {
                height: auto;
            }
        }
    }
}