.homepage {
    .top-banner {
        .inner-content {
            @include small-mobile {
                top: auto;
                position: absolute;
                left: 0;
                bottom: 20px;
                width: 100%;
            }
        }
    }
}