.intro-popup {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    @include transition(all, 0.6s);

    opacity: 0;
    visibility: hidden;

    &.visible {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    .inner-content {
        text-align: center;
        top: 80%;

        .button {
            width: 280px;
            margin: 0 15px;
            padding: 0 15px;
            text-align: right;

            @include mobile {
                width: 100%;
                margin: 0 0 10px;
            }
        }
    }

    &.inner-page {
        .top-banner {
            @include small-mobile {
                top: auto;
            }
        }
    }
}