.product-page {
    .page-content {
        margin-bottom: 40px;

        @include small-desktop {
            margin-bottom: 60px;
        }


        @include mobile {
            margin-bottom: 40px;
        }
    }

    .product-gallery-wrapper {
        display: inline-block;
        float: left;
        width: 430px;

        @include small-desktop {
            width: 300px;
        }


        @include mobile {
            width: 100%;
            margin-bottom: 40px;
        }


        .product-slider-wrapper {
            border: 1px solid $border-color;

            @include rounded(3px);

            padding: 10px;
            position: relative;
            margin-bottom: 15px;

            i.fa-search-plus {
                color: #dcdce7;
                font-size: 3rem;
                position: absolute;
                top: 17px;
                right: 20px;
                z-index: 10;
            }

            .onsale {
                position: absolute;
                top: 10px;
                z-index: 20;
                left: 10px;
                background-image: url(images/sale-tag.svg);
                background-size: 50px auto;
                background-repeat: no-repeat;
                width: 80px;
                height: 50px;

                &.no_stock {
                    background-image: url(images/out-of-stock-tag.svg);

                    span {
                        font-size: 1rem;
                        color: $grey-color;
                    }
                }

                span {
                    @include transform-origin(0, 100%);

                    font-size: 1.2rem;
                    font-weight: 600;
                    color: #fff;
                    text-transform: uppercase;

                    @include rotate(-45);

                    position: absolute;
                    bottom: 3px;
                    left: 14px;
                }
            }

            .slide-item {
                height: 520px;
                text-align: center;

                & > a {
                    display: block;
                    height: 100%;
                }

                @include mobile {
                    height: 350px;
                }


                @include small-mobile {
                    height: 300px;
                }


                img {
                    @include vertical-align;

                    max-height: 100%;
                    margin: 0 auto;
                }
            }
        }

        .product-carousel {
            margin: 0 -7px;

            .slide-item {
                margin: 0 7px;
                border: 1px solid $border-color;

                @include rounded(3px);

                padding: 7px;

                &.slick-current {
                    border: 1px solid $main-color;
                }
            }

            .slick-prev, .slick-next {
                width: 12px;
                height: 20px;
                background-image: url(images/default/dark-controls.png);
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: auto 100%;
                min-width: 0;
                box-shadow: none;
                border: 0px solid #fff;
                z-index: 90;
                margin-top: -2px;
                opacity: 0.3;

                @include transition(all, 0.4s);
                @include mobile {}


                &:before {
                    display: none;
                }

                &:hover {
                    opacity: .7;
                }
            }

            .slick-prev {
                left: -15px;
            }

            .slick-next {
                right: -15px;
                background-position: -12px 0;
            }
        }
    }

    .product-text-details {
        display: inline-block;
        float: left;
        width: calc(100% - 430px);
        padding-left: 60px;

        .product-details-left {
            float: left;
            width: 55%;

            @include mobile {
                width: 100%;
                float: none;
            }


            h3 {
                font-size: 3.2rem;
                font-weight: 400;
                margin-bottom: 10px;
            }

            ul {
                margin-left: 20px;

                li {
                    display: list-item;
                    font-size: 1.4rem;
                    line-height: normal;
                    margin-bottom: 15px;
                    font-weight: 400;
                    color: $main-text-color;
                    list-style-type: circle;
                }
            }
        }

        .product-details-right {
            float: right;
            width: 38%;

            @include mobile {
                width: 100%;
                float: none;
            }
        }

        @include small-desktop {
            width: calc(100% - 300px);
            padding-left: 40px;
        }


        @include mobile {
            width: 100%;
            padding-left: 0;
        }


        h2 {
            font-size: 4rem;
            font-weight: 400;
            margin-bottom: 10px;
            font-family: $main-font;
            max-width: 550px;
            line-height: 42px;

            @include mobile {
                font-size: 3rem;
                line-height: 30px;
                margin-bottom: 15px;
            }
        }

        .price {
            display: inline-block;
            color: $main-color;
            font-size: 3rem;

            span {
                &.old-price {
                    color: $main-text-color;
                    font-size: 2rem;
                    font-weight: 400;
                    text-decoration: line-through;
                    margin-right: 6px;

                    & > span {
                        text-decoration: line-through;
                    }

                    @include mobile {
                        font-size: 1.8rem;
                    }
                }

                &.new-price {
                    font-size: 3rem;
                    color: $main-color;

                    @include mobile {
                        font-size: 2.6rem;
                    }
                }
            }
        }

        h4 {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 0;
            font-family: $main-font;
        }

        p {
            font-size: 1.4rem;
            line-height: 22px;
            margin-bottom: 25px;
        }

        .grey-box {
            padding: 20px 25px;

            h6 {
                font-family: $main-font;
                font-size: 1.8rem;
                display: inline-block;
                float: left;
                margin: 0;
                margin-right: 10px;
                font-weight: 600;
            }

            .top-bar {
                padding-bottom: 20px;
                border-bottom: 0px solid $border-color;
                color: $main-text-color;

                .share-text {
                    margin-right: 5px;
                }

                a, .add-to-fav, .share-text {
                    font-weight: 600;
                    font-size: 1.3rem;
                    display: inline-block;
                    line-height: 28px;

                    i {
                        color: #dcdce7;
                        font-size: 1.8rem;
                        margin-right: 5px;
                        float: left;
                        line-height: 28px;

                        &.active:before {
                            color: $main-color;
                        }
                    }
                }

                .addtoany_list {
                    line-height: 36px;

                    a {
                        line-height: 14px;
                    }
                }

                .yith-wcwl-add-to-wishlist {
                    float: left;
                    margin: 0;
                }

                .add-to-fav {
                    position: relative;
                }

                .yith-wcwl-add-to-wishlist .ajax-loading {
                    position: absolute;
                    right: -30px;
                    top: 10px;
                }
            }

            .bottom-bar {
                padding-top: 20px;

                h6 {
                    line-height: 44px;
                }

                .variants {
                    @include tablet {
                        width: 100%;
                    }


                    .colors-wrapper {
                        overflow: hidden;
                        margin-top: 13px;

                        span {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;

                            @include rounded(4px);

                            border: 2px solid #fff;
                            float: left;
                            margin-right: 4px;
                            line-height: 14px;
                            text-align: center;

                            i {
                                display: none;
                                font-size: 1.3rem;
                                color: #fff;
                            }

                            &.selected {
                                border: 2px solid $headings-color;

                                i {
                                    display: inline;
                                }
                            }

                            &.red {
                                background: #d43340;
                            }

                            &.yellow {
                                background: #facb29;
                            }

                            &.blue {
                                background: #3359d4;
                            }

                            &.green {
                                background: #1fc623;
                            }

                            &.black {
                                background: #000000;
                            }

                            &.brown {
                                background: #B47743;
                            }

                            &.navy-blue {
                                background: #000080;
                            }

                            &.pink {
                                background: #FFC0CB;
                            }
                        }
                    }
                }

                .cart-options {
                    width: 100%;

                    @include tablet {
                        width: 100%;
                    }


                    .quantity {
                        float: right;
                        margin-bottom: 10px;
                        margin-right: 0;
                        margin-top: -30px;

                        @include small-mobile {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }

                    .select-block {
                        width: 60px;
                        display: inline-block;
                        float: left;
                        margin-right: 0px;

                        @include small-desktop {
                            margin-right: 10px;
                        }


                        @include small-mobile {
                            float: right;
                            width: 100px;
                        }
                    }

                    .button {
                        width: 100%;
                        float: left;

                        @include tablet {
                            float: right;
                            width: 45%;
                        }


                        @include small-mobile {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .product-bottom {
        h3 {
            font-weight: 400;
            font-family: $main-font;
            font-size: 3rem;
            margin-bottom: 25px;
        }

        @include clear;
    }
}

.rating-wrapper {
    overflow: hidden;

    .stars {
        overflow: hidden;
        float: left;
        margin-right: 5px;

        i {
            display: inline-block;
            float: left;
            font-size: 1.3rem;
            color: #efc01f;
            margin-right: 2px;
        }
    }

    a {
        color: $main-color;
        font-size: 1.4rem;
        font-weight: 400;
        display: inline-block;
        float: left;
        line-height: 14px;
    }
}

/*.reviews-section {
    display: inline-block;
    float: left;
    width: 430px;

    @include small-desktop {
        width: 300px;
    }


    @include mobile {
        width: 100%;
        margin-bottom: 30px;
    }
}*/

/*.similar-products-section {
    display: inline-block;
    float: left;
    width: calc(100% - 430px);
    padding-left: 60px;

    @include small-desktop {
        width: calc(100% - 300px);
        padding-left: 40px;
    }


    @include mobile {
        width: 100%;
        padding-left: 0;
    }
}*/

#load_all_reviews {
    @include mobile {
        margin-bottom: 10px;
    }
}

.product-bottom {
    display: inline-block;
    float: right;
    width: 100%;

    // width: calc(100% - 430px);
    // padding-left: 60px;

    // @include small-desktop {
    //     width: calc(100% - 300px);
    //     padding-left: 40px;
    // }

    // @include mobile {
    //     width: 100%;
    //     padding-left: 0;
    // }
}

.user-reviews-wrapper {
    .user-review {
        position: relative;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 40px;

        @include mobile {
            margin-bottom: 20px;
            padding-bottom: 10px;
        }


        h5 {
            font-family: $main-font;
            margin: 0;
        }

        .rating-wrapper {
            margin-bottom: 10px;
        }

        span.postdate {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.3rem;
            font-style: italic;
            display: inline-block;
            z-index: 10;
        }

        p {
            font-size: 1.4rem;
            line-height: 22px;
            margin-bottom: 20px;

            @include mobile {
                margin-bottom: 10px;
            }
        }
    }

    & > div:last-child {
        border: 0;
    }
}

.similar-products-carousel {
    margin: 0 -5px;

    @include small-mobile {
        margin: 0;
    }


    .slide-item {
        margin: 0 5px;
        padding-bottom: 8px;

        @include small-mobile {
            margin: 0;
        }


        .product-item {
            width: calc(100% - 2px);

            .yith-wcwl-add-to-wishlist {
                display: none;
            }
        }

        .onsale {
            span {
                bottom: 3px;
                left: 14px;
            }
        }
    }

    .slick-prev, .slick-next {
        width: 12px;
        height: 20px;
        background-image: url(images/default/dark-controls.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
        min-width: 0;
        box-shadow: none;
        border: 0px solid #fff;
        z-index: 90;
        margin-top: -2px;
        opacity: 0.3;

        @include transition(all, 0.4s);
        @include mobile {}


        &:before {
            display: none;
        }

        &:hover {
            opacity: .7;
        }
    }

    .slick-prev {
        left: -15px;

        @include mobile {
            left: 15px;
        }
    }

    .slick-next {
        right: -15px;
        background-position: -12px 0;

        @include mobile {
            right: 15px;
        }
    }
}