.woocommerce-order-received {
    .limited-content {
        max-width: 600px;
        margin-bottom: 50px;

        .confirm-icon {
            display: inline-block;
            font-size: 5rem;
            color: #44ce5e;
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 15px;
        }
    }
}